body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
}

a {
    color: #00B7FF;
}

.active {
    font-weight: 600;
}

.date {
    color: #00B7FF;
}